.pokemon-name {
  font-family: "Press Start 2P", cursive;
  font-size: 30px;
  color: white;
  text-align: center;
}

.pokemon-info-container {
  font-family: "Press Start 2P", cursive;
  font-size: 10px;
  display: flex;
  justify-content: space-around;
  margin-bottom: 10%;
  flex-direction: column-reverse;

  @media screen and (min-device-width: 480px) {
    flex-direction: row;
    width: 100%;
  }

  > div {
    display: flex;
    flex-direction: column;

    > div {
      display: flex;
      gap: 20px;
      align-items: center;
    }
  }

  > :nth-child(2) {
    align-items: flex-end;
  }
}
